body {
    font-family: 'Montserrat', 'Ubuntu', sans-serif;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

#container-fluid {
    padding: 3% 15%;
}

#h1 {
    font-family: 'Montserrat-Black',sans-serif!important;
    font-size: 3.5rem!important;
    line-height: 1.5!important;
}


h3{
    font-family:'Montserrat-Bold',san-sarif!important;
    font-weight:700!important;
  }

  p{
    color: #8f8f8f!important;
  }
/* navigation baar */

#navbar {
    padding: 0 0 4rem;
}

#navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}

#nav-item{
    padding: 0 18px;
}



#navlink{
    font-size: 1.2rem;
    font-family: 'Monserrat-Light',sans-serif;
}


/* download-button */
.download-button{
    margin: 5% 3% 5% 0;
}

/* titleimage */
#titleimage{
    width: 60%;
    transform: rotate(25deg);
}
 
/* feature section */

#features{
    padding:7% 15%;
}

#feature-box{
    text-align: center;
    padding:3%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}